.titName{
    float: left;
    font-weight: 700;
    line-height: 30px;
}
.pullRight{
    float: right !important;
}
.formItem{
    margin-bottom: 10px;
    min-height: 30px;
}
.formLabel{
    width: 360px;
    float: left;
    padding: 5px 5px 5px 0;
    line-height: 20px;
    font-weight: 400;
    color: #666;
    text-align: right;
}
.formBD{
    margin-left: 360px;
    min-height: 30px;
}
.required{
    margin-right: 5px;
    color: #f00;
    font-weight: 400;
}
.centerTit{
    height: 30px;
    margin-bottom: 10px;
}
.form-bd-txt{
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 20px;
}
.panelBorder{
    background-color: white;
    width: 710px;
    float: right;
}
.line{
    height: 1px;
    border-top: 1px dashed #DEDEDE;
    margin: 15px 0;
}
.btn{
    font-size: 14px;
    color: #333;
    min-width: 80px;
    height: 30px;
    line-height: 20px;
    padding: 4px 10px;
    border: 1px solid #DEDEDE;
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-transition: border-color ease-in-out .15s,color ease-in-out .15s,background ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,color ease-in-out .15s,background ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,color ease-in-out .15s,background ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,color ease-in-out .15s,background ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
a{
    text-decoration: none;
}
/*a:hover{*/
    /*color: orange;*/
    /*border-color: orange;*/
/*}*/
.btn-edit{
    background-color: orange;
    color: white;
}
.inputBox{
    float: left;
    width: 200px;
}
.inputBox input{
    width: 100%;
    vertical-align: top;
}



