<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin</title>
    <link rel="stylesheet" href="/css/css.css">
    <script src="/js/main.min.js"></script>
</head>

<body>
    <div class="admin">
        <div class="top">
            <div class="logo">
                <img src="/images/logo1.png">
                ItClub
            </div>
            <div class="toolBtn">
                <span class="home">
                    <em>访问主页</em>
                </span>
                <span class="clear" id="clearCache">
                    <em>清除缓存</em>
                </span>
                <span class="shutdown">
                    <em>退出登录</em>
                </span>
            </div>
        </div>
        <div class="body">
            <div class="left">
                <ul class="navTools">
                    <li>
                        <div class="menuLiT indexLink"><span class="t1 toolLink"><a th:href="@{/statistics}"
                                    target="rightiframe">统计信息</a></span></div>
                    </li>
                    <li>
                        <div class="menuLi"><span class="t2 toolLink">类型管理</span></div>
                        <dl class="downmenu">
                            <dd><a th:href="@{/gotype}" target="rightiframe">类型列表</a></dd>
                            <dd><a th:href="@{/gotypeCreate}" target="rightiframe">新增类型</a></dd>
                        </dl>
                    </li>
                    <li>
                        <div class="menuLi"><span class="t3 toolLink">博客管理</span></div>
                        <dl class="downmenu">
                            <dd><a th:href="@{/goblog}" target="rightiframe">博客列表</a></dd>
                        </dl>
                    </li>
                    <li>
                        <div class="menuLi"><span class="t7 toolLink">用户管理</span></div>
                        <dl class="downmenu">
                            <dd><a th:href="@{/gobackgroundUser}" target="rightiframe" >用户列表</a></dd>
                            <dd><a th:href="@{/gouserCreate}" target="rightiframe">创建用户</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="right">
                <iframe th:src="@{/statistics}" frameborder="0" id="rightiframe" name="rightiframe"></iframe>
            </div>
        </div>s
    </div>
    
    <script>
        var clearCache = document.getElementById('clearCache');
        clearCache.onclick = function () {
            tipAlert({
                title: "缓存清除成功",
                state: "true", //true成功 fail失败
                time: 1 //3秒后关闭
            });
        }

        $(function () {
            $('.indexLink .toolLink').click(function () {
                $('.navTools> li> .menuLi').removeClass('menuActive');
                $('.downmenu>dd').removeClass('onLink');
            })
            $('.navTools> li> .menuLi').click(function () {
                if (!$(this).hasClass('menuActive')) {
                    $('.navTools> li> .menuLi').removeClass('menuActive');
                    $(this).addClass('menuActive');
                } else {
                    $(this).removeClass('menuActive');
                }
            })

            $('.downmenu>dd>a').click(function (event) {
                event.stopPropagation();
                $('.downmenu>dd').removeClass('onLink');
                $(this).parent('dd').addClass('onLink');
            });

        })
    </script>
</body>

</html>