<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.itclub.dao.FocusOnMapper">
  <resultMap id="BaseResultMap" type="com.dream.itclub.pojo.FocusOn">
    <id column="LIKEID" jdbcType="VARCHAR" property="likeid" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="LIKEUSERID" jdbcType="DECIMAL" property="likeuserid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    LIKEID, USERID, LIKEUSERID
  </sql>
  <select id="selectByExample" parameterType="com.dream.itclub.pojo.FocusOnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FOCUSON
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FOCUSON
    where LIKEID = #{likeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from FOCUSON
    where LIKEID = #{likeid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dream.itclub.pojo.FocusOnExample">
    delete from FOCUSON
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dream.itclub.pojo.FocusOn">
    insert into FOCUSON (LIKEID, USERID, LIKEUSERID
      )
    values (#{likeid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{likeuserid,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dream.itclub.pojo.FocusOn">
    insert into FOCUSON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="likeid != null">
        LIKEID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="likeuserid != null">
        LIKEUSERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="likeid != null">
        #{likeid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="likeuserid != null">
        #{likeuserid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dream.itclub.pojo.FocusOnExample" resultType="java.lang.Long">
    select count(*) from FOCUSON
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update FOCUSON
    <set>
      <if test="record.likeid != null">
        LIKEID = #{record.likeid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.likeuserid != null">
        LIKEUSERID = #{record.likeuserid,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update FOCUSON
    set LIKEID = #{record.likeid,jdbcType=VARCHAR},
      USERID = #{record.userid,jdbcType=VARCHAR},
      LIKEUSERID = #{record.likeuserid,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.itclub.pojo.FocusOn">
    update FOCUSON
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="likeuserid != null">
        LIKEUSERID = #{likeuserid,jdbcType=DECIMAL},
      </if>
    </set>
    where LIKEID = #{likeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.itclub.pojo.FocusOn">
    update FOCUSON
    set USERID = #{userid,jdbcType=VARCHAR},
      LIKEUSERID = #{likeuserid,jdbcType=DECIMAL}
    where LIKEID = #{likeid,jdbcType=VARCHAR}
  </update>
</mapper>