<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.itclub.dao.RepMessageMapper">
  <resultMap id="BaseResultMap" type="com.dream.itclub.pojo.RepMessage">
    <id column="REMSGID" jdbcType="VARCHAR" property="remsgid" />
    <result column="MSGID" jdbcType="VARCHAR" property="msgid" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="REMSGCONTENT" jdbcType="VARCHAR" property="remsgcontent" />
    <result column="REMSGTIME" jdbcType="TIMESTAMP" property="remsgtime" />
    <result column="REMESSAGEUSER" jdbcType="VARCHAR" property="remessageuser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REMSGID, MSGID, USERID, REMSGCONTENT, REMSGTIME, REMESSAGEUSER
  </sql>
  <select id="selectByExample" parameterType="com.dream.itclub.pojo.RepMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from REPMESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from REPMESSAGE
    where REMSGID = #{remsgid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from REPMESSAGE
    where REMSGID = #{remsgid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dream.itclub.pojo.RepMessageExample">
    delete from REPMESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dream.itclub.pojo.RepMessage">
    insert into REPMESSAGE (REMSGID, MSGID, USERID, 
      REMSGCONTENT, REMSGTIME, REMESSAGEUSER
      )
    values (#{remsgid,jdbcType=VARCHAR}, #{msgid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{remsgcontent,jdbcType=VARCHAR}, #{remsgtime,jdbcType=TIMESTAMP}, #{remessageuser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dream.itclub.pojo.RepMessage">
    insert into REPMESSAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="remsgid != null">
        REMSGID,
      </if>
      <if test="msgid != null">
        MSGID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="remsgcontent != null">
        REMSGCONTENT,
      </if>
      <if test="remsgtime != null">
        REMSGTIME,
      </if>
      <if test="remessageuser != null">
        REMESSAGEUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="remsgid != null">
        #{remsgid,jdbcType=VARCHAR},
      </if>
      <if test="msgid != null">
        #{msgid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="remsgcontent != null">
        #{remsgcontent,jdbcType=VARCHAR},
      </if>
      <if test="remsgtime != null">
        #{remsgtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remessageuser != null">
        #{remessageuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dream.itclub.pojo.RepMessageExample" resultType="java.lang.Long">
    select count(*) from REPMESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update REPMESSAGE
    <set>
      <if test="record.remsgid != null">
        REMSGID = #{record.remsgid,jdbcType=VARCHAR},
      </if>
      <if test="record.msgid != null">
        MSGID = #{record.msgid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.remsgcontent != null">
        REMSGCONTENT = #{record.remsgcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.remsgtime != null">
        REMSGTIME = #{record.remsgtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remessageuser != null">
        REMESSAGEUSER = #{record.remessageuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update REPMESSAGE
    set REMSGID = #{record.remsgid,jdbcType=VARCHAR},
      MSGID = #{record.msgid,jdbcType=VARCHAR},
      USERID = #{record.userid,jdbcType=VARCHAR},
      REMSGCONTENT = #{record.remsgcontent,jdbcType=VARCHAR},
      REMSGTIME = #{record.remsgtime,jdbcType=TIMESTAMP},
      REMESSAGEUSER = #{record.remessageuser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.itclub.pojo.RepMessage">
    update REPMESSAGE
    <set>
      <if test="msgid != null">
        MSGID = #{msgid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="remsgcontent != null">
        REMSGCONTENT = #{remsgcontent,jdbcType=VARCHAR},
      </if>
      <if test="remsgtime != null">
        REMSGTIME = #{remsgtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remessageuser != null">
        REMESSAGEUSER = #{remessageuser,jdbcType=VARCHAR},
      </if>
    </set>
    where REMSGID = #{remsgid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.itclub.pojo.RepMessage">
    update REPMESSAGE
    set MSGID = #{msgid,jdbcType=VARCHAR},
      USERID = #{userid,jdbcType=VARCHAR},
      REMSGCONTENT = #{remsgcontent,jdbcType=VARCHAR},
      REMSGTIME = #{remsgtime,jdbcType=TIMESTAMP},
      REMESSAGEUSER = #{remessageuser,jdbcType=VARCHAR}
    where REMSGID = #{remsgid,jdbcType=VARCHAR}
  </update>

<!--  自己编写的sql-->
  <resultMap id="repMessageMap" type="com.dream.itclub.pojo.custom.CustomRepMessage">
    <id column="REMSGID" property="remsgid" />
    <result column="MSGID" property="msgid" />
    <result column="USERID" property="userid" />
    <result column="REMSGCONTENT" property="remsgcontent" />
    <result column="REMSGTIME" property="remsgtime" />
    <result column="REMESSAGEUSER" property="remessageuser" />

    <association javaType="com.dream.itclub.pojo.SysUser" property="sysUser">
      <id column="USERID" property="userid" />
      <result column="UNAME" property="uname" />
      <result column="IMAGEPATH" property="imagepath" />
    </association>
  </resultMap>

  <select id="findRepMessage" parameterType="java.lang.String" resultMap="repMessageMap">
    select t.remsgid,t.msgid,t.userid,t.remsgcontent,t.remsgtime,t.remessageuser,s.userid,s.uname,s.imagepath from repmessage t,sysuser s
    <where>
      t.userid=s.userid
      and t.msgid=#{id} order by t.remsgtime asc
    </where>
  </select>

  <select id="findRepMessageByRemsgId" parameterType="java.lang.String" resultMap="repMessageMap">
    select t.remsgid,t.msgid,t.userid,t.remsgcontent,t.remsgtime,t.remessageuser,s.userid,s.uname,s.imagepath from repmessage t,sysuser s
    <where>
      t.userid=s.userid
      and t.remsgid=#{id}
    </where>
  </select>

</mapper>